@use "../common/mixin";
@use "../common/variables";
.accordion_box{
    border: 1px solid $border-color;
    border-radius: 2px;
    justify-content: space-between;
    display: flex;
    padding: 24px;
    .accordion{
      
        .accordion_left{
       
            @include mainFont($font-size-20, $line-spacing-25, $font-family-muli, $font-style-normal);
            color: $black;
        }
        .accordion_right{
        
            @include mainFont($font-size-14, $line-spacing-21, $font-family-muli, $font-style-normal);
            color: $black;
            text-align: right;
            
        }
    }
    .down_arrow{
        padding-left: 16px;
        img{
            width: 14px;
            height: 7px;
            vertical-align: middle;
            
        }
    }
}
