
.mobilefilter_menu{
    // backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    padding: 0;
    background-color: white;
    box-shadow: 0px 8px 16px #00000026;
    z-index: 100;
    min-height: 100vh;
    overflow-y: auto;
    display: none;
    animation: moveToRight 1s ease-in-out;
    @keyframes moveToRight {
        0% {
            transform: translateX(500px);
        }
        100% {
            transform: translateX(0px);
        }
    }
    

    h6{
        font: normal normal 600 16px/24px Muli;
        color: #181C24;
    }
    nav{
    background-color: $gray-l1;
    padding: 11px 24px 13px 24px;
    position: sticky;
    top: 0;
 
        ul {
            display: flex;
            justify-content: space-between;
                li{
                font: normal normal 600 16px/24px Muli;
                color: #1D1D1B;
                letter-spacing: 0.32px;
                }
            }
        }


  
    
    .attribute{    
        padding: 16px 0 32px 24px;
        border-bottom: 2px solid $gray-l1;
        a{
            font-size: $font-size-14;
            color: $gray-d2;
            line-height: 24px;
            text-decoration: underline;
            font-family: $font-family-muli;
        }
        .checkbox{  
            padding-top: 16px;
            input{
                accent-color: #E26A2C;
                border: 2px solid #E26A2C;
                width: 24px;
                height: 24px;
              
            }
        label{
            margin-left: 16px;
            font-family: $font-family-muli;
        }}
    }
.action{
    display: flex;
    justify-content: center;
    padding-top: 32px;
}
  
}
