
.mobileSidebar_menu{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 0;
    background-color: $white;
    box-shadow: 0px 8px 16px $black-m2;
    z-index: 100;
    height: 100%;
    overflow-y: auto;
    display: none;
    animation: moveToRight.5s  ease-in-out;
    @keyframes moveToRight {
        0% {
            transform: translateX(500px);
        }
        100% {
            transform: translateX(0px);
        }
    }
    


    nav{
    background-color: $gray-l1;
    padding: 11px 24px 13px 24px;
    position: sticky;
    box-shadow: 35px 35px 35px $black-l3;
    top: 0;
 
        ul {
            display: flex;
            justify-content: space-between;
                li{
           
                @include mainFont($font-size-16, $line-spacing-24, $font-family-muli, $font-weight-600);
                color: $black-m1;
                letter-spacing: 0.32px;
                }
            }
        }
    .navlink{
        padding:16px 0 16px 24px;
        border-bottom: 2px solid $gray-l1;
      
        @include mainFont($font-size-16, $line-spacing-24, $font-family-muli, $font-style-normal);
        color: $color-172026;
        &:hover{
            background-color: rgb(221, 213, 213);
            color: white;
            box-shadow: 35px 35px 35px $black-l3;
              transition: .5s;
        }
    }
    .Mobile_contactfooter {
      margin-top: 20rem;
        box-shadow: 35px 35px 35px $black-l3;
        padding:16px 24px 16px 24px;
        border-top: 2px solid $gray-l1;
        border-bottom: 2px solid $gray-l1;
            ul{
                display: flex;
                justify-content: space-between;
              
               li{
                justify-content: space-between ;
     
                @include mainFont($font-size-16, $line-spacing-24, $font-family-muli, $font-style-normal);
                color: $color-172026;
               }
    
    }
   
       
    }
}