
.mobilefilter_menu{
    position: absolute;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 10%;
    right: 0;
    background-color: white;
    height: 200vh;
    animation: moveToRight 1s ease-in-out;
    
        @keyframes moveToRight {
            0% {
                transform: translateX(500px);
            }
            100% {
                transform: translateX(0px);
            }
        }
        
    
        h6{
            font: normal normal 600 16px/24px Muli;
            color: #181C24;
        }
        nav{

            background-color: $gray-l1;
            padding: 11px 24px 13px 24px;
            position: sticky;
     

     
            ul {
                display: flex;
                justify-content: space-between;
                    li{
                    font: normal normal 600 16px/24px Muli;
                    color: #1D1D1B;
                    letter-spacing: 0.32px;
                    }
                }
            }
    
    
      
        
        .attribute{    
            padding: 16px 0 32px 24px;
            border-bottom: 2px solid $gray-l1;
            a{
                font-size: $font-size-14;
                color: $gray-d2;
                line-height: 24px;
                text-decoration: underline;
                font-family: $font-family-muli;
            }
            .checkbox{  
                padding-top: 16px;
                input{
                    accent-color: #E26A2C;
                    border: 2px solid #E26A2C;
                    width: 24px;
                    height: 24px;
                  
                }
            label{
                margin-left: 16px;
                font-family: $font-family-muli;
            }}
        }
    .action{
        display: flex;
        justify-content: center;
        padding-top: 32px;
    }
    
}