
.mobileSidebar_menu{
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    padding: 0;
    background-color: white;
    box-shadow: 0px 8px 16px #00000026;
    z-index: 100;
    min-height: 120vh;
    overflow-y: auto;
    display: none;
    animation: moveToRight 1s ease-in-out;
    @keyframes moveToRight {
        0% {
            transform: translateX(500px);
        }
        100% {
            transform: translateX(0px);
        }
    }
    


    nav{
    background-color: $gray-l1;
    padding: 11px 24px 13px 24px;
    position: sticky;
    top: 0;
 
        ul {
            display: flex;
            justify-content: space-between;
                li{
                font: normal normal 600 16px/24px Muli;
                color: #1D1D1B;
                letter-spacing: 0.32px;
                }
            }
        }
    .navlink{
        padding:16px 0 16px 24px;
        border-bottom: 2px solid $gray-l1;
        font: normal normal normal 16px/24px Muli;
        color: #172026;
    }
    .Mobile_contactfooter {
      margin-top: 18rem;
        box-shadow: 0px 0px 35px #0000000D;
        padding:16px 24px 16px 24px;
       
        
     
            ul{
                display: flex;
                justify-content: space-between;
              
               li{
                justify-content: space-between ;
                font: normal normal normal 16px/24px Muli;
                color: #172026;
               }
            
        }
       
     
            
        
    }
}