

.card{
    padding-bottom: 20px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    &:not(:nth-child(3n)){
        padding-right: 2em;
    }
    

    &:hover {
        transform: scale(0.98);
      
    }
  
      figure {
        border: 1px solid $gray-l1;
        margin: 0;
        line-height: 0;
        &:hover{
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.5s;
        }
 
        img {
            max-width: 100%;
            height: 300px;
            object-fit: contain;
            padding:2em 2em;      
         
        }
      }
      
    .product-details{
        padding-top: 8px;
        height: 100px;
        .product-title{
         
            @include mainFont($font-size-18, $line-spacing-20, $font-family-muli, $font-weight-bold);
            color: $black;
            display: block;

        }
        .product-price{
            margin-top: 5px;
       
            @include mainFont($font-size-16, $line-spacing-20, $font-family-muli, $font-weight-600);
            color: $black;

        }
        .fav_icon{
            margin-top:17px;
            width: 24px;
            height: 20px;        
            color: $black;
            border-color:$gray-d2 0% 0% no-repeat padding-box;
        }
    }
 
}   
