@use  "../../Style/Common/mixin";
@use  "../../Style/Common/variables";
.btn_lab{
    padding: 11px 69px;
    background-color: $primary-brand;
    border: none;
    @include font-button;
    text-transform: uppercase;
    &:hover, 
    &:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 0.2em rgba(#fff,0);
    }

    @keyframes pulse {
    0% { box-shadow: 0 0 0 0 black; 
    }
    }
}  

