

.filter_aside{
    padding-top: 24px;
    .filter_container{
        padding-right: 46px;
            h5{
                font-size: $font-size-20;
                color: $gray-d2;
                line-height: 14px;
                font-family: $font-family-muli;
            }
            h6{

                padding: 16px 0;
                font-size: $font-size-16;
                color: $gray-d2;
                line-height: 24px;
                font-family: $font-family-muli;
            }
            a{
                font-size: $font-size-14;
                color: $gray-d2;
                line-height: 24px;
                text-decoration: underline;
                font-family: $font-family-muli;
            }
            .checkbox{  
                padding-top: 16px;
                input{
                    accent-color: #E26A2C;
                    border: 2px solid #E26A2C;
                    width: 24px;
                    height: 24px;
                  
                }
            label{
                margin-left: 16px;
                font-family: $font-family-muli;
            }}
        .attribute{    
                padding-bottom: 32px;
                border-bottom: 2px solid $gray-l1;
            }
    
            
         }
}
  

 


 

 

