

.teaserbanner_two{
    align-items: center;
    padding-bottom: 128px;
    display: flex;
    position: relative;
    .teaserbanner-content{
    flex-basis: 38%;
        color:$white;
        background-color: $black;
        // padding: 42px 0 55px 25px;
       
        .teasertwo_content{
            padding:5em 2.9em;
            // padding: 3.5em 4em;    
            h2{
                font: normal normal 600 40px/62px Source Serif Pro;
                max-width: 100%;
            }
            p{
                font: normal normal 600 20px/25px Muli;
                padding: 16px 0 32px 0;
                
            }
            .shop_devices{
                            border: 2px solid $white;
                            background-color: transparent;
                            padding: 11px 20px;
                            border-radius: 10px;
                           
                        }
        }
    }
    .teaserbanner-imgae{
        flex-basis: 62%;
        padding: 17px 0;
      
        img{
            min-height: 100%;
            object-fit: fill;
        }
.location_box{
    width: 102px;
    text-align: center;
    position: absolute;
    z-index: 9;
    margin-top: -6%;
    margin-left: 46.50%;
    img{
    width: 33px;
    height: 41px;
    padding-bottom: 8px;
}
 .border{
    
    background-color: $primary-brand;
    width: 100%;
    height: 8px;
 }
}

    }
}