@use  "../../../Style/Common/mixin";
@use  "../../../Style/Common/variables";
.homebanner{
    background-color: $gray-l1;
    min-height: 75vh;
    align-items: stretch;
    display: flex;
    
    .arrow{
        padding-top: 16rem;
        padding-left: 50px ;
        figure{
            img{
                width:20px;
                height: 40px;
            }
        }
    }
.homebanner_content{
    align-items: center;
    padding: 7rem 0;
    h1{
        
        @include mainHeading;
        line-height:$line-spacing-60 ; 
        max-width: 30rem;
        
    }
    p{
        padding: 8px 0 35px 0;
        @include font-two;
        max-width: 34rem;
    }
 

.dots_action {
    display: none;
    margin-top: 32px;
    :first-child{
        background-color: white;
    } 
    button {
    border-radius: 50%;
    background-color: #666666;
    padding: 0.3em;
    border: none;
    margin-left: 20px;
 


}}
}
   
    .homebanner_image{
      min-height: 100%;
      float: none;
      background-image: url("../../../Images/herobanner1.png");
        background-repeat: no-repeat;
        background-size: 100% 160%;
        background-origin: border-box;
       
      
        figure{ 
            img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }}
    
    }
}

   
   