body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  padding-right: 8rem;
  padding-left: 8rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
@media (min-width: 1600px) {
    .container,.procard-container {
        max-width: 1600px;
    }
}
@media (min-width: 1900px) {
    .container,.procard-container {
        max-width: 1900px;
    }
}
@media (min-width: 768px) {
  .container,.procard-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container,.procard-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container,.procard-container {
    width: 1180px;
  }
}
.container-fluid {
  padding: 0 17rem;
  width: 100%;
  margin: 0 auto;
}
.procard-container{
  padding: 2rem 9rem 1rem 14rem;
  margin-right: auto;
  margin-left: auto; 
}
@media (min-width: 0px) and (max-width: 767px) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
  }
  .procard-container{
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 20px;
  }

}
@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
  }
  .procard-container{
    padding-right: 32px;
    padding-left: 32px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    
  }

}
.slick-dots {
  bottom: 25px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
 
}
.slick-dots li {
  display: none;
}
.slick-dots li button:before {
  opacity: .50;
  color: rgb(56, 56, 56);
}
.slick-dots li.slick-active button:before {

  color: black;
}
.slick-slide img {
  display: block;
  padding: 2em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .slick-dots li {
    display: block;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    
  }
}