.review_order{
    .action{
        padding:0 0 24px 0;
        display: flex;
        justify-content: center;
    
    }
    p{
        font: normal normal normal 16px/24px Muli;
        a{
            text-decoration: underline;
        }
    }

}